<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="NuGet"
			 value="https://api.nuget.org/v3/index.json" />
		<add key="GitHub_BenBurgers"
			 value="https://nuget.pkg.github.com/benburgers/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub_BenBurgers>
			<add key="Username" value="github@benburgers.eu" />
			<add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
		</GitHub_BenBurgers>
	</packageSourceCredentials>
</configuration>